*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* CSS HEADER */

header{
    background-color: rgb(193, 244, 253);
}



.container{
    max-width: 1000px;
    margin: auto;
    padding: 40px;
}


.row{
    display: flex;
    justify-content: center;  
}

.col-sm{
    width: 20%;  
    border: 2px dashed black;
    background-color: rgb(211, 162, 0);

}

.col-lg{
    width: 60%;
    text-align: center;
    border: 2px dashed black;
    background-color: rgb(211, 162, 0);

}

.dx-text{
    text-align: right;
}

.col-lg > ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-left: 25px;
    
}


/* CSS MAIN */


.container-bg-blue{
    max-width: 100%;
    padding: 40px;
    background-color: blue;
}


.col-60{
    width: 60%;
    height: 300px;
    background-color: rgb(235, 155, 235);
    border: 2px dashed black;
}


.col-80{
    width: 70%;
    height: 500px;
    background-color: green;
    border: 2px dashed black;
    margin: 50px;
}





.container-bg-lightgray{
    background-color: lightgray;
}


.row-reverse{
    display: flex;
    flex-direction: row-reverse;

}


.col-sx{
    width: 70%;
    height: 400px;
    background-color: aqua;
    border: 2px dashed black;
}

.col-dx{
    width: 30%;
    height: 400px;
    background-color: rgb(202, 150, 193);
    border: 2px dashed black;
}





.container-bg-black{
    background-color: rgb(65, 65, 65);
    border-bottom: 1px solid #fff;
}

.col-30{
    width: 30%;
    height: 450px;
    background-color: rgb(235, 155, 235);
    border: 2px dashed black;

}

.col-20{
    width: 20%;
    height: 450px;
    background-color: aqua;
    border: 2px dashed black;
}



/* CSS PART FOOTER */

footer{
    background-color:  rgb(65, 65, 65);
}


.rowtwo{
    display: flex;
    justify-content: end;  
}


.col-10-right{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: rgb(123, 246, 255);
    
}

.col-10{
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: rgb(123, 246, 255);
    
}

.logo, .bottone{
    background-color: pink;
    border: 2px dashed black;
}






