*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* CSS HEADER */

header{
    padding: 10px;
    background-color: rgb(193, 244, 253);
}

.container{
    max-width: 1000px;
    margin: auto;
}


.content{
    padding: 10px;
}


.row{
    display: flex;
    background-color: rgb(211, 162, 0);
    
}

.col-sm{
    width: 20%;  
    border: 2px dashed black;
}

.col-lg{
    width: 60%;
    text-align: center;
    border: 2px dashed black;
}

.dx-text{
    text-align: right;
}

.col-lg > ul{
    list-style-type: none;
}

ul li{
    display: inline-block;
    margin-left: 25px;
    
}